<h1 class="jumbotron"><img class="billOn" src="http://www.clotureclub.com/wp-content/uploads/2011/12/bill.png">Legislator Lookup<img class="billOn" src="http://www.clotureclub.com/wp-content/uploads/2011/12/bill.png"></h1>
<div class="container boxModel">
  {{outlet}}
</div>
